<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta - MiApp</title>
    <link rel="stylesheet" href="../assets/css/styleauth.css">
</head>
<body>
    <h1 class="miapp">MiApp</h1>
    <div class="container">
        <header>
            
        </header>
        <main>
            <h2>Create an account</h2>
            <p>Enter your email to sign up for this app</p>
            <form>
                <input type="email" placeholder="email@domain.com" required>
                <button type="submit" class="btn-primary">Sign up with email</button>
            </form>
            <div class="separator">--------or continue with--------------</div>
            <button class="btn-google">
                <img src="../assets/icons/Google.png" alt="Google logo"> Google
            </button>
            <p class="terms">By clicking continue, you agree to our <a href="#">Terms of <br></a> and <a href="#">Servicve and Privacy Policy</a></p>
        </main>
    </div>
</body>
</html>