<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bannearticle.css">
    <title>Banner Article</title>
</head>
<body>
    <div>
        <div id="container">
    <h1> Nuestros ingredientes</h1> <br>
    <h2> Subheading thats sets up context, shares more infor about the<br>
         author, or generally gets people psyched to keep reading.</h2> <br>
         <img src="../assets/images/banner.png"  height="250px" alt="banner comida">
        </div>
        </div>
</body>
</html>