<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/contacts.css">
    <title>Contactos en la Esquina Inferior Derecha</title>
</head>
<body>
    <div class="contactos">
        <h2>Contactos</h2>
        <div class="contacto">
            <img src="../assets/images/helena.png" alt="Helena">
            <div>
                <p class="nombres">Helena</p>
                <p>email@figmasfakedomain.net</p>
            </div>
        </div>
        <div class="contacto">
            <img src="../assets/images/oscar.png" alt="Oscar">
            <div>
                <p class="nombres">Oscar</p>
                <p>email@figmasfakedomain.net</p>
            </div>
        </div>
        <div class="contacto">
            <img src="../assets/images/daniel.png" alt="Daniel">
            <div>
                <p class="nombres">Daniel</p>
                <p>email@figmasfakedomain.net</p>
            </div>
        </div>
        <div class="contacto">
            <img src="../assets/images/jay.png" alt="Daniel Jay Park">
            <div>
                <p class="nombres">Daniel Jay Park</p>
                <p>email@figmasfakedomain.net</p>
            </div>
        </div>
        <div class="contacto">
            <img src="../assets/images/mark.png" alt="Mark Rojas">
            <div>
                <p class="nombres">Mark Rojas</p>
                <p>email@figmasfakedomain.net</p>
            </div>
        </div>
    </div>
</body>
</html>
