<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="../assets/css/posts.css">
</head>
<body>
    <div class="container">
        <div class="post">
            <div class="post-header">
                <img src="../assets/images/helena.png" alt="Helena">
                <div class="post-info">
                    <span class="post-author">Helena</span> in Group name
                    <span class="post-time">3 min ago</span>
                </div>
                <div class="post-menu">...</div>
            </div>
            <div class="post-content">
                <div class="white-box"></div>
            </div>
            <div class="post-description">
                Post description
            </div>
            <div class="post-footer">
                <span> <img src="../assets/icons/Heart.png" alt="">2 likes</span>
                <span> <img src="../assets/icons/Comment.png" alt="">5 comments</span>
            </div>
        </div>

        <div class="post">
            <div class="post-header">
                <img src="../assets/images/daniel.png" alt="Daniel">
                <div class="post-info">
                    <span class="post-author">Daniel</span> in Group name
                    <span class="post-time">5 min ago</span>
                </div>
                <div class="post-menu">...</div>
            </div>
            <div class="post-content">
                <div class="white-box"></div>
            </div>
            <div class="post-description">
                Post description
            </div>
            <div class="post-footer">
                <span> <img src="../assets/icons/Heart.png" alt="">21 likes</span>
                <span> <img src="../assets/icons/Comment.png" alt="">4 comments</span>
            </div>
        </div>

        <div class="post">
            <div class="post-header">
                <img src="../assets/images/oscar.png" alt="Oscar">
                <div class="post-info">
                    <span class="post-author">Oscar</span> in Group name
                    <span class="post-time">10 min ago</span>
                </div>
                <div class="post-menu">...</div>
            </div>
            <div class="post-content">
                <div class="white-box"></div>
            </div>
            <div class="post-description">
                Post description
            </div>
            <div class="post-footer">
                <span> <img src="../assets/icons/Heart.png" alt="">3 likes</span>
                <span> <img src="../assets/icons/Comment.png" alt="">7 comments</span>
            </div>
        </div>
    </div>
</body>
</html>